<f:layout name="Default" />

<f:section name="Title">Edit detail </f:section>

<f:section name="Content">
	<f:form action="update" object="{detail}" name="detail">
		<ol>
			<li>
				<label for="detail1">Master</label>
				<f:form.textfield property="master.name" id="master.name" />
			</li>

			<li>
				<label for="detail2">Description</label>
				<f:form.textfield property="description" id="description" />
			</li>

			<li>
				<label for="master">Amount</label>
				<f:form.textfield property="amount" id="amount" />
			</li>

			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>