<f:layout name="Default" />

<f:section name="Title">A list of details</f:section>

<f:section name="Content">
	<f:if condition="{details}">
		<f:then>
			<ul>
				<f:for each="{details}" as="detail">
					<li>
						<f:link.action action="show" arguments="{detail: detail}">{detail.detail1}/{detail.detail2}</f:link.action>
						<f:link.action action="edit" arguments="{detail: detail}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{detail: detail}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No details created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new detail</f:link.action></p>
</f:section>