<f:layout name="Default" />

<f:section name="Title">New detail</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new detail:</p>

	<f:form action="create" name="newDetail">
		<ol>
			<li>
				<label for="master.name">Name</label>
				<f:form.textfield property="master.name" id="master.name" />
			</li>

			<li>
				<label for="description">Description</label>
				<f:form.textfield property="description" id="description" />
			</li>

			<li>
				<label for="amount">Amount</label>
				<f:form.textfield property="amount" id="amount" />
			</li>

			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>