<f:layout name="Default" />

<f:section name="Title">Edit master "{master.name}"</f:section>

<f:section name="Content">

	<f:form action="update" object="{masterAndDetail}" objectName="masterAndDetail">
		<ol>
			<li>
				<label for="master.name">Name</label>
				<f:form.textfield property="master.name" id="master.name" />
				<label for="detail.detail1">Detail1</label>
				<f:form.textfield property="detail.detail1" id="detail.detail1" />
				<label for="detail.detail2">Detail1</label>
				<f:form.textfield property="detail.detail2" id="detail.detail2" />
			</li>



			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>