<f:layout name="Default" />

<f:section name="Title">A list of masters</f:section>

<f:section name="Content">
	<f:if condition="{masters}">
		<f:then>
			<ul>
				<f:for each="{masters}" as="master">
					<li>
						<f:link.action action="show" arguments="{master: master}">{master.name}{detail.detail1}</f:link.action>
						<!--<f:link.action action="edit" arguments="{master: master}">Edit</f:link.action>-->
						<!--<f:link.action action="edit" controller="detail" arguments="{detail: master.detail}">Detail</f:link.action>-->
						<f:link.action action="edit" arguments="{master: master, detail:master.detail}">Edit Master & Detail</f:link.action>
						<f:link.action action="delete" arguments="{master: master}">Delete</f:link.action>

					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No masters created yet. Massa!</p>
		</f:else>
	</f:if>


	<p><f:link.action action="new">Create new Master & Detail</f:link.action></p>
</f:section>